<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Drag'nDrop</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="css/nectarine.css">
</head>

<body ng-app="clement">
<script type="text/ng-template" id="error.html">
    <h3>ERROR</h3>
</script>

<script type="text/ng-template" id="clement.html">
    <h2>Jeu de mots Clément</h2>
    <div ng-controller="MainCtrl">
        <div  class="row col-md-12 col-lg-12">
            <div ng-repeat="c in columns" class="column"
                 drag="c" dragStyle="columnDrag"
                 drop="c" dropStyle="columnDrop">
                {{c.title}}
            </div>
        </div>
        <div class="row col-md-12 col-lg-12">
            <div ng-repeat="d in columns2" class="column2" drag="d" dragStyle="columnDrag" drop="d" dropStyle="columnDrop">
                <div ng-if="good(d, $index)" class="columnok">
                {{d.title}}
                </div>
                <div ng-if="!good(d, $index)" >
                    {{d.title}}
                </div>
            </div>
            <div class="row col-md-12 col-lg-12">
            <div ng-if="end()" class="result">
                Gagné
            </div>
                </div>
        </div>

    </div>
</script>


<div ng-view>
    Loading...
</div>


<script src="vendors/jquery-1.11.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.js"></script>
<!--imports locaux du projet-->
<script src="js/app.js"></script>
<script src="js/directives/directive.js"></script>
<script src="js/controllers/mainCtrl.js"></script>



</body>
</html>
