
.column {
    width: 160px;
    height: 40px;
    background-color: lightyellow;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    display:inline-block;
    margin: 25px;
    padding: 8px;
    font-family: fantasy;
    font-size: xx-large;
    /*text-decoration:underline;*/
}
.column2 {
     width: 160px;
     height: 40px;
     background-color: antiquewhite;
     text-align: center;
     border: 1px solid black;
     border-radius: 5px;
     display:inline-block;
     margin: 25px;
     padding: 8px;
     font-family: fantasy;
     font-size: xx-large;
 }

.textreplay {
    background-color: dodgerblue;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    display:inline-block;
    margin: 25px;
    padding: 8px;
    font-family: fantasy;
    font-size: xx-large;
}


.cadrereplay {
    width: 1024px;
    margin: auto;
    margin-bottom: 20px;
}

.columnok {
    /*width: 160px;*/
    /*height: 40px;*/
    /*background-color: deepskyblue;*/
    color: dodgerblue ;
/*    text-align: center;
    border: 1px solid black;*/
    /*border-radius: 5px;*/
   /* display:inline-block;
    margin: 25px;
    padding: 8px;
    font-family: fantasy;
    font-size: xx-large;*/
}


/*.columnok {*/
    /*color: deepskyblue;*/
    /*border: 1px solid black;*/
    /*width: 160px;*/
    /*height: 40px;*/
    /*background-color: deepskyblue;*/
    /*border-radius: 5px;*/
    /*padding: 8px;*/
    /*text-align: center;*/
    /*border: 1px solid black;*/
    /*border-radius: 5px;*/
    /*display:inline-block;*/
    /*margin: 50px;*/
    /*font-family: fantasy;*/
    /*font-size: large;*/
/*}*/

.columnDrag {
    opacity: 0.7;
    background-color: lightskyblue;
}

.columnDrop {
    background-color: lightskyblue;
}

.result {
    width: 500px;
    background-color: lightgreen;
    font-family: fantasy;
    font-size: xx-large;
    border: 1px solid black;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    font-family: fantasy;
    font-size: xx-large;
    text-align: center;
}

.phrase{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: medium;
    display:inline-block;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.pull-right {
    float: right !important;
}

.btn-primary {
    color: #ffffff;
    background-color: #ff6600;
    border-color: #e65c00;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #d65600;
    border-color: #a84300;
}

.btn-sm,
.btn-xs {
    padding: 5px 10px;
    font-size: 11px;
    line-height: 1.5;
    border-radius: 3px;
}

.title{
    color: midnightblue;
    font-size: xx-large;
    font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    display: inline-block;
}
.cadre{
    width: 1024px;
    margin: auto;
    border: 3px solid transparent;
    border-radius: 5px;
    border-color: black;
    margin-bottom: 20px;
    background-color: lightsteelblue;
}

.cadreCentre{
    width: 1024px;
    margin: auto;
    border: 0px solid transparent;
    margin-bottom: 20px;

}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.glyphicon-trash:before {
    content: "\e020";
}

.pointer {
    cursor: pointer;
}
